{% extends 'index.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'laptop/css/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'laptop/css/item-list.css' %}">
<div class="wrapper">
    <div id="laptop-header">    
        <div class="laptop-section">
            <h1>{{ laptop }}</h1>
        </div>
        <div class="laptop-section">
            <p><b>Updated:</b> {{ laptop.updated|naturaltime }}</p>
            <p><b>Brand:</b> {{ laptop.brand }}</p>
            <p><b>Price (in CAD):</b> ${{ laptop.get_price|intcomma }}</p>
            <a href="{{ laptop.get_source_url }}" class="button-link">
                Go to Source
            </a>
        </div>
    </div>
    <hr>
    <div class="laptop-memo">
        <h2>MEMO</h2>
        <p><b>Processor: </b> {{ memos.cpu|join:', ' }}</p>
        <p><b>Memory: </b> {{ memos.ram|join:', ' }}</p>
        <p><b>Graphics: </b> {{ memos.gpu|join:', ' }}</p>
        <p><b>Storage: </b> {{ memos.disk|join:', ' }}</p> 
    </div>
    <hr>
    <div class="laptop-specs-price">
        <h2>Laptop Matching Specs and Price</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Component</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Overall Price (in CAD)</th>
                    <th scope="col">Updated</th>
                </tr>
            </thead>
            <tbody>
                {% if not closest_comp.processor %}
                <tr>
                    <th scope="row">Processor</th>
                    <td>{{ no_match_notif }}</td>
                    <td>0</td>
                    <td>$0</td>
                    <td>No updates</td>
                </tr>
                {% else %}
                {% for processor in closest_comp.processor %}
                <tr>
                    <th scope="row">Processor</th>
                    <td>    
                        <a href="{{ processor.get_source_url}}" class="row-link">
                            <p>{{ processor }}</p>
                        </a>
                    </td>
                    <td>{{ processor.comp_count|floatformat|intcomma }}</td>
                    <td>${{ processor.total_price|intcomma }}</td>
                    <td>{{ processor.updated|naturaltime }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
                {% if not closest_comp.memory %}
                <tr>
                    <th scope="row">Memory</th>
                    <td>{{ no_match_notif }}</td>
                    <td>0</td>
                    <td>$0</td>
                    <td>No updates</td>
                </tr>
                {% else %}
                {% for memory in closest_comp.memory %}
                <tr>
                    <th scope="row">Memory</th>
                    <td>    
                        <a href="{{ memory.get_source_url}}" class="row-link">
                            <p>{{ memory }}</p>
                        </a>
                    </td>
                    <td>{{ memory.comp_count|floatformat|intcomma }}</td>
                    <td>${{ memory.total_price|intcomma }}</td>
                    <td>{{ memory.updated|naturaltime }}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% if not closest_comp.graphics_card %}
                <tr>
                    <th scope="row">Graphics</th>
                    <td>{{ no_match_notif }}</td>
                    <td>0</td>
                    <td>$0</td>
                    <td>No updates</td>
                </tr>
                {% else %}
                {% for graphics in closest_comp.graphics_card %}
                <tr>
                    <th scope="row">Graphics</th>
                    <td>    
                        <a href="{{ graphics.get_source_url}}" class="row-link">
                            <p>{{ graphics }}</p>
                        </a>
                    </td>
                    <td>{{ graphics.comp_count|floatformat|intcomma }}</td>
                    <td>${{ graphics.total_price|intcomma }}</td>
                    <td>{{ graphics.updated|naturaltime }}</td>
                </tr>
                {% endfor %}
                {% endif %}

                {% if not closest_comp.storage %}
                <tr>
                    <th scope="row">Storage</th>
                    <td>{{ no_match_notif }}</td>
                    <td>0</td>
                    <td>$0</td>
                    <td>No updates</td>
                </tr>
                {% else %}
                {% for storage in closest_comp.storage %}
                <tr>
                    <td>    
                        <a href="{{ storage.get_source_url}}" class="row-link">
                            <p>{{ storage }}</p>
                        </a>
                    </td>
                    <td>{{ storage.comp_count|floatformat|intcomma }}</td>
                    <td>${{ storage.total_price|intcomma }}</td>
                    <td>{{ storage.updated|naturaltime }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total Components Price (in CAD)</th>
                    <td>{{ total_comps_price|floatformat:2|intcomma }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">Laptop Price (in CAD)</th>
                    <td>{{ laptop.get_price|intcomma}}</td>
                    <td></td>
                <tr>
                    <th colspan="2">Price Difference (in CAD)</th>
                    <td> {{ price_difference|floatformat:2| intcomma }}</td>
                    <td></td>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}