{% extends 'index.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'laptop/css/item-list.css'%}">
<div class="wrapper">
    <h1>Search Results for "{{ search_text }}"</h1>
    <h2>{{ quantity }} record{{ quantity|pluralize }}</h2>
    {% if laptop_list %}
    <table>
        <thead>
            <tr>
                <th scope="col">Laptop</th>
                <th scope="col">Price (in CAD)</th>
                <th scope="col">Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for laptop in laptop_list %}
            <tr>
                <td>
                    <a class="row-link" href="{{ laptop.get_absolute_url }}">
                        <p>{{ laptop }}</p>
                    </a>
                </td>
                <td>${{ laptop.get_price|intcomma }}</td>
                <td>{{ laptop.updated|naturaltime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% comment %} <script type="text/javascript" src="{% static 'laptop/js/item-list.js' %}"></script> {% endcomment %}
{% endblock %}