:root {
    --text-light: #000000;
    --bkg-light: #FFFFFF;
    --bkg1-light: #dcdcdc;
    --btn-text-hover-light: #FFFFFF;
    --btn-bkg-hover-light: #26ff88;
    --tb-bkg-light: #26ff88;
    --tr-bkg-odd-light: #eeecec;
    --tr-bkg-even-light: #f7f7f7;
    --tr-bkg-hover-light: #ddd;
    --tr-link-hover-light: #77dca4;
    --search-bkg-light: #FFFFFF;

    --text-dark: #FFFFFF;
    --bkg-dark: #292727;
    --bkg1-dark: #f3f3f3;
    --btn-text-hover-dark: #000000;
    --btn-bkg-hover-dark: #7470bd;
    --tb-bkg-dark: #1c10f7;
    --tr-bkg-odd-dark: #464646;
    --tr-bkg-even-dark: #333333;
    --tr-bkg-hover-dark: #2e2929;
    --tr-link-hover-dark: #5850ea;
    --search-bkg-dark: #FFFFFF;
}

@media(prefers-color-scheme: light){
    :root {
        --text: var(--text-light);
        --bkg: var(--bkg-light);
        --bkg1: var(--bkg1-light);
        --btn-text-hover: var(--btn-text-light);;
        --btn-bkg-hover: var(--btn-bkg-hover-light);
        --tb-bkg: var(--tb-bkg-light);
        --tr-bkg-odd: var(--tr-bkg-odd-light);
        --tr-bkg-even: var(--tr-bkg-even-light);
        --tr-bkg-hover: var(--tr-bkg-hover-light);
        --tr-link-hover: var(--tr-link-hover-light);
        --search-bkg: var(--search-bkg-light);
    }
}

@media(prefers-color-scheme: dark){
    :root {
        --text: var(--text-dark);
        --bkg: var(--bkg-dark);
        --bkg1: var(--bkg1-dark);
        --btn-text-hover: var(--btn-text-dark);;
        --btn-bkg-hover: var(--btn-bkg-hover-dark);
        --tb-bkg: var(--tb-bkg-dark);
        --tr-bkg-odd: var(--tr-bkg-odd-dark);
        --tr-bkg-even: var(--tr-bkg-even-dark);
        --tr-bkg-hover: var(--tr-bkg-hover-dark);
        --tr-link-hover: var(--tr-link-hover-dark);
        --search-bkg: var(--search-bkg-dark);
    }
}

[color-theme="light"]{
    --text: var(--text-light);
    --bkg: var(--bkg-light);
    --bkg1: var(--bkg1-light);
    --btn-text-hover: var(--btn-text-light);;
    --btn-bkg-hover: var(--btn-bkg-hover-light);
    --tb-bkg: var(--tb-bkg-light);
    --tr-bkg-odd: var(--tr-bkg-odd-light);
    --tr-bkg-even: var(--tr-bkg-even-light);
    --tr-bkg-hover: var(--tr-bkg-hover-light);
    --tr-link-hover: var(--tr-link-hover-light);
    --search-bkg: var(--search-bkg-light);
}

[color-theme="dark"]{
    --text: var(--text-dark);
    --bkg: var(--bkg-dark);
    --bkg1: var(--bkg1-dark);
    --btn-text-hover: var(--btn-text-dark);;
    --btn-bkg-hover: var(--btn-bkg-hover-dark);
    --tb-bkg: var(--tb-bkg-dark);
    --tr-bkg-odd: var(--tr-bkg-odd-dark);
    --tr-bkg-even: var(--tr-bkg-even-dark);
    --tr-bkg-hover: var(--tr-bkg-hover-dark);
    --tr-link-hover: var(--tr-link-hover-dark);
    --search-bkg: var(--search-bkg-dark);
}