body {
    width: 99%;
    background-color: var(--bkg);
    color: var(--text);
}

#label-icon {
    font-size: 1.5em;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-left: 0.5em;
}

#noscript {
    
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #e2467f;
    font-style: italic;
    font-weight: bold;
}

#section {
    display: flex;
    margin-right: 2em;
    justify-content: space-between;
}

.button-link {
    color: #383838;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: var(--bkg1);
    position: relative;
    width: auto;
    transition-duration: 0.5s;
    border: 1px solid #000000;
}

.button-link:hover {
    background-color: var(--btn-bkg-hover);
    color: var(--btn-text-hover);
}

.error-message {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10%;
    padding: 0.25em;
    background-color: var(--search-bkg);
}

.header {
    height: 2.25em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-icon-button {
    text-decoration: none;
    cursor: pointer;
}

.label-icon-button > p {
    color: var(--text);
    width: fit-content;
    margin: 0;
}

.search-box {
    border: none;
    outline: none;
    font-size: 1em;
    font-style: italic;
    background-color: inherit;
}

.setting-options {
    margin-left: 5em;
    display: flex;
    justify-content: center;
}

.theme {
    background-color: var(--bkg1);
    opacity: .7;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid var(--bkg1);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.theme:is(:hover){
    background-color: var(--btn-bkg-hover);
    opacity: .8;
}

.wrapper {
    width: 100%;
    text-align: center;
}
