<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laptop Specs Price</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/variable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<header>
    {% include 'header.html' %}
</header>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        const sunset_img = "{% static 'images/sunset.svg' %}";
        const sunrise_img = "{% static 'images/sunrise.svg' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <noscript id="noscript">
        Your browser does not support JavaScript!
        JavaScript is used for enabling dark/light mode!
     </noscript>
</body>
</html>